# Test framework
pytest

# Database testing
psycopg2-binary

# API testing
fastapi
httpx
python-multipart

# Data processing and ML dependencies
pandas
numpy<2
scikit-learn
tqdm
bcrypt

# Test client for FastAPI
requests
passlib
rapidfuzz
python-jose[cryptography]
pydantic>=2.7.0,<3.0.0

# Test client for Airflow
apache-airflow
beautifulsoup4
python-dotenv
surprise
mlflow

streamlit
prometheus_client

