# Test framework
pytest

# Database testing
psycopg2-binary

# API testing
fastapi
httpx
python-multipart

# Data processing and ML dependencies
pandas
numpy
scikit-learn

# Test client for FastAPI
requests
passlib

# Test client for Airflow
apache-airflow
beautifulsoup4
python-dotenv
surprise
mlflow

streamlit

