/* style.css */
.movie-container {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.movie-container:hover .overlay {
    opacity: 1;
}

.genre-badge {
    display: inline-block;
    background-color: #ffcccb;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.8em;
    margin-right: 10px;
    margin-bottom: 5px;
    color: black;
}

.rating-badge {
    display: inline-block;
    background-color: rgb(61, 193, 241);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.8em;
    color: black;
}

.movie-tile {
    width: 100%;
    aspect-ratio: 2/3;
    border-radius: 10px;
    overflow: hidden;
}

.movie-tile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}